<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
        <h1 class="mb-0">Arnaud
            <span class="text-primary">Etienne</span>
        </h1>
        <div class="subheading mb-5">12 rue des fonds 路 1380 Lasne 路 Belgium 路 (+32)479.05.98.43 路
            <a href="mailto:name@email.com">contact@aetienne.com</a>
        </div>
        <p class="lead">Full-stack web developer</p>
        <p class="lead mb-5">I'm a hard working team player and I always strive for more.</p>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/arnaud-etienne-1655ba68/">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/NelsonEU">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://twitter.com/arnau_dd">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/apetienne">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
    </div>
</section>