<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">

    <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Project T</h3>
                <div class="subheading mb-3">Side project</div>
                <p>I have been working on a personal side project since June. Without going into the details, I used a 3-tier Java architecture to build the backend of the website, and a simple combination of HTML5/CSS3 and Javascript for the front-end.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">July 2019 - November 2019</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Mobile development Intern</h3>
                <div class="subheading mb-3">RiseUp</div>
                <p>For this internship, I had to manage an entire project designed for me. The project in itself was to develop a cross-platform mobile application for the company that would allow the team to order lunch. This internship taught me a lot: I arrived with zero knowledge of mobile-development and I delivered a functional product for the team within timing. I learned a lot about project lifecycle and the importance of writing test cases. I also acquired a very good understanding of the Xamarin framework.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">February 2019 - May 2019</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">CEO & Co-founder</h3>
                <div class="subheading mb-3">ADS Partners</div>
                <p>I decided to create this company with 2 other associates. We created a few websites that sold many products. We ran the websites for a few months and managed to make some good sells. Unfortunately, we decided to part ways and to wind the company up for several reasons. I learned a lot about managing a small team and I also grew some serious skills in SEO and advertising.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">March 2018 - September 2018</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Community manager</h3>
                <div class="subheading mb-3">UStart Alma</div>
                <p>My responsibility was to organize a few events in my own university. I also managed social media for my branch of UStart Belgium (UStart Alma), which was just getting started at the time.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">February 2017 - June 2017</span>
            </div>
        </div>

    </div>

</section>