<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
    <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a developer, I enjoy taking times outdoors. During the summer in Belgium, I enjoy hiking and having a nice apero. In the winter, I'm an avid skier.</p>
        <p class="mb-0">When forced indoors, I follow a number of TV shows and read a lot of (sci-fi) books. I am also an aspiring chef: I love to cook! <br>Finally, I'm a bit of a gamer even though I'm now just a shadow of the younger me...</p>
    </div>
</section>