<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <i class="devicon-java-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicon-c-plain colored"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicon-csharp-plain colored"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicon-php-plain colored"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicon-html5-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicon-css3-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicon-javascript-plain colored"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicon-postgresql-plain-wordmark colored"></i>
            </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fas fa-check"></i>
                Mobile-First, Responsive Design</li>
            <li>
                <i class="fa-li fas fa-check"></i>
                Understanding of Agile methodology</li>
            <li>
                <i class="fa-li fas fa-check"></i>
                Ability to write, review & perform test cases</li>
            <li>
                <i class="fa-li fas fa-check"></i>
                Result-oriented and self-motivated team player</li>
        </ul>
    </div>
</section>